# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Notebooks del curso (no son parte del proyecto)
*.ipynb
.ipynb_checkpoints/

# Archivos comprimidos
*.zip
*.rar
*.7z
